.back-to-top{

    position:fixed;

    bottom:35px;

    right:35px;

    width:55px;

    height:55px;

    border:none;

    border-radius:50%;

    background:#2563eb;

    color:white;

    font-size:24px;

    cursor:pointer;

    opacity:0;

    visibility:hidden;

    transform:translateY(20px);

    transition:.3s;

    box-shadow:0 12px 30px rgba(37,99,235,.35);

    z-index:999;
}

.back-to-top.show{

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}

.back-to-top:hover{

    transform:translateY(-5px);

    background:#1d4ed8;

}